[Unit]
Description=MJPEG server
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/usr/local/bin
ExecStart=/usr/local/bin/gunicorn mjpeg_server:app -b 0.0.0.0:8764 -w 1 -k gevent

[Install]
WantedBy=multi-user.target
